@page
@model web.error_500Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error_500</title>
</head>
<body>
    <h1>出错啦！！！</h1>
</body>
</html>
