@page
@model web.error_404Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error_404</title>
</head>
<body>
    <h1>页面丢失</h1>
</body>
</html>
