@page
@model web.stockin_applyModel
@{
    ViewData["Title"] = "入库申请";
}
<script src="~/js/stockin-apply.js"></script>
<body style="padding:3px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    所属部门： <span id="u_depart_name"></span>
                </div>
                @*<div class="layui-col-xs3">
                        工号： <span id="u_jobcardid"></span>
                    </div>*@
                <div class="layui-col-xs3">
                    申请人： <span id="u_real_name"></span>
                </div>
            </div>
        </div>
        <div class="layui-card-body" id="stockin-apply-body"></div>
        <div>
            <div style="text-align: center;">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn" id="btn-stockin-apply">提交入库申请</button>
                    <button type="button" class="layui-btn" id="btn-add-product">添加产品</button>
                </div>
            </div>
        </div>
    </div>
</body>