@page
@model web.Pages.stock.stockin_detailModel
@{
    ViewData["Title"] = "入库详情";
}
<script src="~/js/stockin-detail.js"></script>
<body style="padding:3px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    所属部门： <span id="u_depart_name"></span>
                </div>
                @*<div class="layui-col-xs3">
                        工号： <span id="u_jobcardid"></span>
                    </div>*@
                <div class="layui-col-xs3">
                    申请人： <span id="u_real_name"></span>
                </div>
                <div class="layui-col-xs3">
                    订单号： <span id="o_order_sn"></span>
                </div>
                <div class="layui-col-xs3">
                    审批状态： <span id="o_apply_status"></span>
                </div>
                <div class="layui-col-xs3">
                    申请时间： <span id="o_apply_time"></span>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div id="stockin-apply-log">

            </div>
            <div id="stockin-apply-body">
            </div>
        </div>
        <div>
            <div style="text-align: center;" id="operator-containt">
            </div>
        </div>
    </div>
</body>